body {
  background-color: black;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}


.main {
  width: 1100;
  margin: 0 auto;

}

.header {
  width: 100%;
  height: 350px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
}

.header-left {
  width: 1100px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-left img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.header-left h2 {
  margin-left: 25px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.header-right {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.header-right ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-right li {
  margin-right: 40px;
  font-size: 12px;
}

.header-right a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.header-right .back {
  border-radius: 20px;
  background-color: blueviolet;
  padding: 12px 30px;
}

.header-center {
  text-align: center;
  margin-top: 20px;
}

.header-center-heading {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin-top: 100px;
}

.header-center-body {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.header-center-body p {
  margin-left: 15px;
  margin-top: 2px;
  color: aliceblue;
}

.header-center-body a {
  color: white;
  font-weight: 700;
}

.fa-arrow-right {
  color: aliceblue;
  margin-top: 5px;
  font-size: 12px;
  margin-left: 12px;
}

.work-togather {
    width: 100%;
    margin: 0 auto;
    background-color:black;
  
  }
  
  .work-togather-head{
    margin-left: 15px;
    padding: 10px 20px;
  }
  
  
  
  
  .work-togather-body {
    display: flex; 
    justify-content:center;
  
  } 
  
  .form{
    margin-left: 35px;
    margin-top: 20px;
    line-height: 1.5;
    background-color:#140c1c;
    border-radius: 10px;
    padding: 10px 20px 40px;
  }
  
  .form-up{
    display: flex;
  }  
  .form-1 input{
  background-color: #2E353A;
  color: whitesmoke;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid rgb(10, 10, 10);
  }

  .form-middle{
    display: flex;
  }  
  
  .form-1 textarea{
    width: 300px;
    height: 150px;
    background-color: #2E353A;
    color: #ffffff;
    margin-left: 11px;
    border: none;
    margin-bottom: 50px;

  }
  
  .info{
    width: 300px;
    padding: 80px;
    margin-top: 90px;
    font-size: 21px;
    font-weight: 605;
  }
  .info i{
    float: left;
    margin-right: 30px;
    margin-top: -7px;
    font-size: 30px;
    color: red;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 13px;
}
  .services #design {
    background-color: #2E353A;
    color: #ffffff;
    width: 205px;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 7px;
    border: none;
  }
  .info h3 {
    color: whitesmoke;
    font-size: 17;
    font-weight: 300;

  }

  .info a{
    color: whitesmoke;
    font-weight: 500;
    font-size: 18;
    line-height: 2;
    margin-top: -20px;
    margin-left: 50px;
  }
  a:hover{
    color: #502d9b;
  }
  .work-togather-button{
    margin-top: -20px;
  }
  .work-togather-button button{
    background-color: #502d9b;
    padding: 8px 20px;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 15;
    font-weight: 700;
    margin-left: 17px;
    margin-bottom: 20px;
  }
  
  .footer {
    width: 100%;
    background-color: black; 
    background-image: linear-gradient(to right, rgb(64, 6, 64) , rgb(30, 23, 23) );
    justify-content: center;
    margin-top: 30px;
    

}

.footer-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.footer-logo img {
    width: 50px;

}

.footer-tag {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-top: -15px;
    margin-left: 43px;
}

.footer-tag-1 {
    margin-right: 10px;

}

.footer-tag-1 a {
    text-decoration: none;
    color: whitesmoke;
}

.footer-tag-1 a:hover {
    color: blueviolet;
}

.junction {
    display: flex;
    justify-content: center;

}

.junction p {
    color: rgb(130, 11, 221);
}