body {
    background-color: black;
    background-image: linear-gradient(to right, black, rgb(56, 13, 56));
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;

}


.main {
    width: 1100;
    margin: 0 auto;

}

.header {
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

.header-left {
    width: 1100px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-left img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.header-left h2 {
    margin-left: 25px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.header-right {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.header-right ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-right li {
    margin-right: 40px;
}

.header-right a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

.header-right .back {
    border-radius: 20px;
    background-color: blueviolet;
    padding: 12px 30px;
}

.header-center {
    text-align: center;
    margin-top: 20px;
}

.header-center-heading {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-top: 100px;
}

.header-center-body {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.header-center-body p {
    margin-left: 15px;
    margin-top: 2px;
    color: aliceblue;
}

.header-center-body a {
    color: white;
    font-weight: 700;
}

.fa-arrow-right {
    color: aliceblue;
    margin-top: 5px;
    font-size: 12px;
    margin-left: 12px;
}
.specialization{
    width: 1100px;
    margin: 0 auto;
}
.specialization-heading h2{
    font-size: 35px;
    font-weight: 800;
    color: #f4effe;
}
.specialization-heading p{
    font-size: 20px;
    font-weight: 500;
    margin-top: -20px;
    color: white;
}
.specialization-heading{
    text-align: center;
    margin-bottom: 30px;
}
.specialization-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
  }
  .specialization-child{
    border-radius: 20px;
    background-color: blueviolet;
    padding: 9px 0px;
    margin-top: -9px;
  }
  .specialization-nav li{
    margin-right: 15px;
    text-align: center;
  }
  .specialization-nav {
    margin-right: 5px;
  }
  
  .specialization-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  } 
  .specialization-image-up{
    display: flex;
  }
  .specialization-image-down{
    display: flex;
  }

.header-2 ul {
    list-style: none;
    display: flex;
    
  }
  
  .header-2 li {
    margin-right: 5px;
  }
  
  .header-2 a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-weight: bold;
  } 


.footer {
    width: 100%;
    background-color: black; 
    background-image: linear-gradient(to right, rgb(64, 6, 64) , rgb(30, 23, 23) );
    justify-content: center;
    padding: 45px 20px;
    margin-top: 30px;
    

}

.footer-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-logo img {
    width: 50px;

}

.footer-tag {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 43px;
}

.footer-tag-1 {
    margin-right: 10px;

}

.footer-tag-1 a {
    text-decoration: none;
    color: whitesmoke;
}

.footer-tag-1 a:hover {
    color: blueviolet;
}

.junction {
    display: flex;
    justify-content: center;

}

.junction p {
    color: rgb(130, 11, 221);
}